<mat-accordion>
  <mat-expansion-panel togglePosition="before" class="mat-elevation-z">
    <mat-expansion-panel-header expandedHeight="48px">
      <mat-panel-title>
        Aprendizajes Clave para el Desarrollo Integral
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section class="flex-content">
      <mat-expansion-panel togglePosition="before" class="mat-elevation-z">
        <mat-expansion-panel-header expandedHeight="2.5rem" class="flex-items">
          <mat-panel-title> Campos de formación academica </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex-content">
          Sección para infimación
        </section>
      </mat-expansion-panel>
      <mat-expansion-panel togglePosition="before" class="mat-elevation-z">
        <mat-expansion-panel-header expandedHeight="2.5rem" class="flex-items">
          <mat-panel-title>
            Áreas de desarrollo personal y social
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex-content">
          Sección para infimación
        </section>
      </mat-expansion-panel>
    </section>
  </mat-expansion-panel>
</mat-accordion>

<!-- <section>
  <div class="accordion" id="overview">
    <h1 class="title">
      <a href="#overview">
        <mat-icon fontIcon="arrow_right"></mat-icon>
        Aprendizajes Clave para el Desarrollo Integral
      </a>
    </h1>
    <div class="content">
      <div class="wrapper">
        <p>
          This CodePen demonstrates how we can animate the opening and closing
          states of an accordion with fancy reveal animation using only CSS. This
          concept is suitable for creating <strong>FAQ sections</strong>,
          <strong>Table of Contents</strong>, and more.
        </p>
      </div>
    </div>
  </div>
</section> -->
