<mat-accordion>
  <mat-expansion-panel togglePosition="before" class="mat-elevation-z">
    <mat-expansion-panel-header expandedHeight="48px">
      <mat-panel-title>
        Aprendizajes Clave para el Desarrollo Integral
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section class="flex-content">
      <mat-expansion-panel togglePosition="before" class="mat-elevation-z">
        <mat-expansion-panel-header expandedHeight="48px" class="flex-items">
          <mat-panel-title> Campos de formación academica </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex-content">Sección para infimación</section>
      </mat-expansion-panel>
      <mat-expansion-panel togglePosition="before" class="mat-elevation-z">
        <mat-expansion-panel-header expandedHeight="48px" class="flex-items">
          <mat-panel-title>
            Áreas de desarrollo personal y social
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex-content">Sección para infimación</section>
      </mat-expansion-panel>
    </section>
  </mat-expansion-panel>
</mat-accordion>
