.mat-expansion-panel {
  background-color: rgba(0, 0, 0, 0);
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true'])
  .mat-expansion-panel-header:hover {
  background-color: rgba(0, 0, 0, 0);
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8em;
  margin: 0 -0.8em;
  min-width: 360px;
}

.flex-items {
  flex: 1 1 24rem;
}
