<div
  *ngIf="!tokenStored"
  id="{{ g_id }}"
  data-skip_prompt_cookie="sid"
  data-client_id="362739926893-jjm3h2hc2gtaibqjvtt944ha9uvjlrem.apps.googleusercontent.com"
  data-context="signup"
  data-ux_mode="popup"
  data-auto_select="true"
  data-itp_support="false"
  data-callback="credencialResponse"
></div>
<div
  class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signup_with"
  data-size="large"
  data-logo_alignment="center"
></div>
<img *ngIf="response" src="{{ imgUrl() }}" alt="User Logo" />
